// carusel 樣式
.carousel-control-prev-icon {
  width: 44px;
  height: 44px;
  background-image: url("../images/slide-prev.svg");
}

.carousel-control-next-icon {
  width: 44px;
  height: 44px;
  background-image: url("../images/slide-next.svg");
}


// title 樣式
.section_title {
  position: relative;
  &::after {
    content: "";
    width: 100%;
    height: 44px;
    background: url("../images/title-decoration-green.svg") center center
      no-repeat;
    position: absolute;
    top: 15px;
    left: 0;
  }
}
.section_title-gold {
  position: relative;
  &::after {
    content: "";
    width: 100%;
    height: 44px;
    background: url("../images/title-decoration-gold.svg") center center
      no-repeat;
    position: absolute;
    top: 15px;
    left: 0;
  }
}

// 輪播區塊 carousel
.carousel-caption {
  position: absolute;
  width: 400px;
  right: 15%;
  top: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: start;
}

// 雲端櫃台 service
.section_service {
  background-color: #f3f3f3;
  position: relative;
  &::after {
    content: "";
    width: 100%;
    height: 188px;
    background: url("../images/service-decoration.png") top left no-repeat;
    background-size: cover;
    position: absolute;
    bottom: -150px;
    z-index: -1;
  }

  .service_tab {
    .tab-pane .container {
      border-radius: 20px;
    }
    .title {
      position: relative;
      &::before {
        content: "";
        width: 100%;
        height: 20px;
        background: url("../images/decoration-line.png") center center no-repeat;
        position: absolute;
        left: 0;
        bottom: -25px;
      }
    }
  }

  .card {
    background: url("../images/rectangle.png") center bottom no-repeat;
    position: relative;
    &::after {
      display: none;
      @include pad {
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        right: -20%;
        background: url("../images/right-arrow.png") center center no-repeat;
        width: 52px;
        height: 52px;
      }
    }
  }
  .card:nth-child(3) {
    &::after {
      display: none;
    }
  }
}

// >> 立即申辦按鈕
.cta-btn {
  position: absolute;
  transform: translate(-50%, -20%);
  left: 50%;
  z-index: 5;
  padding: 12px 36px;
}

// 最新消息 news start
// >> swiper
.swiper {
  width: 90%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// >> swipper 自訂按鈕樣式
.news_swipper {
  position: relative;
  .swiper-slide {
    width: 100%;
    @include pad {
      width: 320px;
    }
  }
}

.swiper-button-prev {
  left: 50%;
  transform: translateX(-50%);
  &::after {
    background-size: contain;
    color: #f3f3f3;
    background-color: #287149;
    padding: 20px;
    border-radius: 35px 5px 5px 35px;
    @include pad {
      padding: 28px;
      border-radius: 40px 5px 5px 40px;
    }
  }
}
.swiper-button-next {
  &::after {
    color: #f3f3f3;
    background-color: #287149;
    padding: 20px;
    border-radius: 5px 35px 35px 5px;
    @include pad {
      padding: 28px;
      border-radius: 5px 40px 40px 5px;
    }
  }
}

// >> news card
.news_swipper {
  .card {
    border: 1px solid #c2c2c2;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
  }
}

// 常見問題 qa
.section_qa {
  background: url("../images/qa-background.png") center center no-repeat;
  background-size: cover;
}
// >> 風琴選單 自訂義
.accordion-button:focus {
  border-color: #b68914;
  box-shadow: 0 0 0 0.25rem rgba(158, 150, 61, 0.253);
}

.accordion-button:not(.collapsed) {
  color: #836210;
  background-color: #e4d1a34b;
}

// 廣告區
.section_app {
  .card {
    margin: 0 auto;
    max-width: 750px;
  }
}

//scroll to top
.fixtop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  min-width: 42px;
  min-height: 42px;
  border-radius: 100%;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #287149;
  color: white;
  cursor: pointer;
  &:hover {
    background-color: darken(#287149,10%);
    border: #287149 1px solid;
  }
}
