@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
html,
body {
  font-family: "Noto Sans TC", sans-serif,Helvetica Neue, Helvetica, Arial, sans-serif;
}

img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.form_width {
  max-width: 1140px;
}

.rounded_10 {
  border-radius: 10px;
}

.footer {
  background: url("../images/footer.png") center center no-repeat;
  background-size: cover;
  position: relative;
}

.footer::before {
  content: "";
  position: absolute;
  left: 1%;
  bottom: 80%;
  background: url("../images/footer-decoration-left.png") center center no-repeat;
  background-size: cover;
  height: 108px;
  width: 78px;
  z-index: -5;
}

@media (min-width: 576px) {
  .footer::before {
    bottom: 55%;
    width: 127px;
    height: 168px;
  }
}

.footer::after {
  content: "";
  position: absolute;
  right: 1%;
  bottom: 80%;
  background: url("../images/footer-decoration-right.png") center center no-repeat;
  background-size: cover;
  height: 108px;
  width: 78px;
  z-index: -5;
}

@media (min-width: 576px) {
  .footer::after {
    bottom: 55%;
    width: 127px;
    height: 168px;
  }
}

.carousel-control-prev-icon {
  width: 44px;
  height: 44px;
  background-image: url("../images/slide-prev.svg");
}

.carousel-control-next-icon {
  width: 44px;
  height: 44px;
  background-image: url("../images/slide-next.svg");
}

.section_title {
  position: relative;
}

.section_title::after {
  content: "";
  width: 100%;
  height: 44px;
  background: url("../images/title-decoration-green.svg") center center no-repeat;
  position: absolute;
  top: 15px;
  left: 0;
}

.section_title-gold {
  position: relative;
}

.section_title-gold::after {
  content: "";
  width: 100%;
  height: 44px;
  background: url("../images/title-decoration-gold.svg") center center no-repeat;
  position: absolute;
  top: 15px;
  left: 0;
}

.carousel-caption {
  position: absolute;
  width: 400px;
  right: 15%;
  top: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: start;
}

.section_service {
  background-color: #f3f3f3;
  position: relative;
}

.section_service::after {
  content: "";
  width: 100%;
  height: 188px;
  background: url("../images/service-decoration.png") top left no-repeat;
  background-size: cover;
  position: absolute;
  bottom: -150px;
  z-index: -1;
}

.section_service .service_tab .tab-pane .container {
  border-radius: 20px;
}

.section_service .service_tab .title {
  position: relative;
}

.section_service .service_tab .title::before {
  content: "";
  width: 100%;
  height: 20px;
  background: url("../images/decoration-line.png") center center no-repeat;
  position: absolute;
  left: 0;
  bottom: -25px;
}

.section_service .card {
  background: url("../images/rectangle.png") center bottom no-repeat;
  position: relative;
}

.section_service .card::after {
  display: none;
}

@media (min-width: 576px) {
  .section_service .card::after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    right: -20%;
    background: url("../images/right-arrow.png") center center no-repeat;
    width: 52px;
    height: 52px;
  }
}

.section_service .card:nth-child(3)::after {
  display: none;
}

.cta-btn {
  position: absolute;
  -webkit-transform: translate(-50%, -20%);
      -ms-transform: translate(-50%, -20%);
          transform: translate(-50%, -20%);
  left: 50%;
  z-index: 5;
  padding: 12px 36px;
}

.swiper {
  width: 90%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.news_swipper {
  position: relative;
}

.news_swipper .swiper-slide {
  width: 100%;
}

@media (min-width: 576px) {
  .news_swipper .swiper-slide {
    width: 320px;
  }
}

.swiper-button-prev {
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.swiper-button-prev::after {
  background-size: contain;
  color: #f3f3f3;
  background-color: #287149;
  padding: 20px;
  border-radius: 35px 5px 5px 35px;
}

@media (min-width: 576px) {
  .swiper-button-prev::after {
    padding: 28px;
    border-radius: 40px 5px 5px 40px;
  }
}

.swiper-button-next::after {
  color: #f3f3f3;
  background-color: #287149;
  padding: 20px;
  border-radius: 5px 35px 35px 5px;
}

@media (min-width: 576px) {
  .swiper-button-next::after {
    padding: 28px;
    border-radius: 5px 40px 40px 5px;
  }
}

.news_swipper .card {
  border: 1px solid #c2c2c2;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.section_qa {
  background: url("../images/qa-background.png") center center no-repeat;
  background-size: cover;
}

.accordion-button:focus {
  border-color: #b68914;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(158, 150, 61, 0.253);
          box-shadow: 0 0 0 0.25rem rgba(158, 150, 61, 0.253);
}

.accordion-button:not(.collapsed) {
  color: #836210;
  background-color: #e4d1a34b;
}

.section_app .card {
  margin: 0 auto;
  max-width: 750px;
}

.fixtop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  min-width: 42px;
  min-height: 42px;
  border-radius: 100%;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #287149;
  color: white;
  cursor: pointer;
}

.fixtop:hover {
  background-color: #1b4b31;
  border: #287149 1px solid;
}

.form_title {
  position: relative;
}

.form_title::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 24px;
  background-color: #287149;
  top: 0;
}

.progress_step li {
  position: relative;
}

.progress_step li::before {
  position: absolute;
  content: '';
  width: 160px;
  height: 1px;
  left: 50%;
  top: 67%;
  background-color: #c4c4c4;
}

.progress_step li::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  left: 45%;
  top: 65%;
  border-radius: 100%;
  border: 2px solid #c4c4c4;
  background-color: #f3f3f3;
}

.progress_step li p {
  color: #4B4B4B;
}

.progress_step li.active {
  position: relative;
}

.progress_step li.active::before {
  position: absolute;
  content: '';
  width: 160px;
  height: 1px;
  left: 50%;
  top: 67%;
  background-color: #287149;
}

.progress_step li.active::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  left: 45%;
  top: 65%;
  border-radius: 100%;
  border: 2px solid #287149;
  background-color: #f3f3f3;
}

.progress_step li.active p {
  color: #287149;
}

.progress_step li:nth-child(5)::before {
  display: none;
}

.progress_sm_step li {
  position: relative;
}

.progress_sm_step li::before {
  position: absolute;
  content: '';
  width: 50px;
  height: 1px;
  left: 50%;
  top: 3%;
  background-color: #c4c4c4;
}

.progress_sm_step li::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  left: 45%;
  top: 0;
  border-radius: 100%;
  border: 2px solid #c4c4c4;
  background-color: #f3f3f3;
}

.progress_sm_step li p {
  color: #4B4B4B;
}

.progress_sm_step li.active {
  position: relative;
}

.progress_sm_step li.active::before {
  position: absolute;
  content: '';
  width: 160px;
  height: 1px;
  left: 50%;
  top: 3%;
  background-color: #287149;
}

.progress_sm_step li.active::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  left: 45%;
  top: 0;
  border-radius: 100%;
  border: 2px solid #287149;
  background-color: #f3f3f3;
}

.progress_sm_step li.active p {
  color: #287149;
}

.progress_sm_step li:nth-child(5)::before {
  display: none;
}

.progress_icon svg {
  background-color: #f3f3f3;
  border: 1px solid #c4c4c4;
  fill: #c4c4c4;
}

.progress_icon svg.active {
  background-color: #E6F5BC;
  border: 1px solid #287149;
  fill: #287149;
}

.btn--md {
  min-width: 142px;
}

.myBox {
  border: none;
  padding: 5px;
  font: 16px sans-serif;
  height: 200px;
  overflow: scroll;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border: 1px solid #287149;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #287149;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1b5234;
}

/*# sourceMappingURL=all.css.map */
